<h2 *ngIf="color=='red'; then ifval else elseif">Welcome to Angular</h2>

<!-- ng-template used for put else part for conditional statement -->
<ng-template #elseif [ngIf]="color=='red'">
  <h2>Welcome To .Net C#</h2>
</ng-template>                      multiple If statement

<ng-template #ifval [ngIf]="color=='blue'" >
  <h2>Welcome To .Net C# other</h2>            
</ng-template>

<div>
  Current color: {{ color }}
</div>
<!-- switch statement -->
<div [ngSwitch]='color'>
  {{color}}
  <h2 *ngSwitchCase="color=='red'">red</h2>
  <h2 *ngSwitchCase="color=='blue'">blue</h2>
  <h2 *ngSwitchCase="color=='green'">green</h2>
  <h2 *ngSwitchDefault>Default value</h2>
</div>

<ul>
  <li *ngFor="let item of userArray">{{item}}</li>
</ul>

<table class="table table-striped">
  <thead>
    <tr>
      <td>Name</td>
      <td>Salary</td>
      <td>Location</td>
      <td>Skillset</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of userList">
      <td>{{item.name}}</td>
      <td>{{item.salary}}</td>
      <td>{{item.location}}</td>
      <td>
        <ul>
          <li *ngFor="let i of item.skillset" >{{i}}</li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>




